<div class="col-md-12 authentication">
	<h1 class="text-xlarge">
	    Forgot your password?
	</h1>
	<div class="col-md-4 col-md-offset-4 well signin">

	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, wrapper_mappings: { boolean: :vertical_boolean }) do |f| %>

	  <%= f.input :email, label: false do %>
        <div class="input-group">
          <%= f.input_field :email, class: 'form-control input-lg', placeholder: 'Email', autofocus: true %>
          <span class="input-group-addon glyphicon glyphicon-user"></span>
        </div>
      <% end %>

	    <%= f.button :submit, "Send me instructions", class: 'btn-primary btn-block btn-lg' %>
	<% end %>

	<%= flash_messages layout_flash: false %>

	<%= render "devise/shared/links" %>
	</div><!-- ./signin -->
</div><!-- ./authentication -->
