<div class="col-md-12 queries">
	<h1 class="text-xlarge">
		Queries
	</h1><!-- ./h1 -->

	<% if @queries.empty? %>
		<ul class="list-group">
			<li class="list-group-item">No queries yet!</li>
		</ul>
	<% else %>
		<% @queries.each do |query| %>
			<div class="row query">
				<div class="query-info">
					<h3>
						<%= query.name %>
						<%= query_process_status(query) %>
					</h3>
					<small><%= query.skill %> | <%= query.locality %></small>
				</div><!-- ./query-info -->
				<div class="query-tools">
					<%= query_leads(query) %>
					<i class="glyphicon glyphicon-trash query-tool"></i>
				</div><!-- ./query-tools -->
			</div><!-- ./query -->
		<% end %>
	<% end %>
</div><!-- ./col-md-12 -->